<div class="sidebar">
  <div class="sidebar-sticky">
    <div class="sidebar-about">
     <header>
      <div>
        <div>
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
       </div>
<br><br><br><br><br>
          <!-- <div class="site-info"> -->

          <!-- <div class="text-vertical-center"> -->
            <div class="transbox">
              <h1 style="font-family:Raleway,Montserrat,sans-serif">{{ site.name }}</h1>
              <h3 style="font-family:Raleway,Montserrat,sans-serif">{{ site.description }}</h3>
              
              </div>
       </div>
          
          <nav class="sidebar-nav">
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Blog</a> <br>
            <a class="sidebar-nav-item" href="https://doyleax.github.io/Portfolio" style="font-weight:500">Portfolio</a> <br>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/resume">R&#233;sum&#233;</a> <br>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a> <br>

          </nav>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

         
         
      </header>
    </div>
  </div>
</div>
